SECRET_KEY='very_secret_key'
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://localhost:8080 http://127.0.0.1:8080
DEBUG=False

POSTGRES_DB=postgres_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_pass
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
